{
    "version":"{{ env_type }}",
    "host": "{{ env_host }}",
    "port": "{{ env_port }}",
    "dbHost": "{{ env_db_host }}",
    "dbPort": "{{ env_db_port }}",
    "dbAccount":"{{ env_db_account }}",
    "dbPassword": "{{ env_db_password }}",
    "dbName": "{{ env_db_name }}",
    "dbMinConnection": "{{ env_db_min_connection }}",
    "dbMaxConnection":"{{ env_db_max_connection }}",
    "charset": "{{ env_charset }}",
    "redisHost":"{{ env_redis_host }}",
    "redisPort": "{{ env_redis_port }}",
    "redisPassword": "{{ env_redis_password }}",
    "selectDB": "{{ env_select_db }}",
    "poolSize": "{{ env_poolsize }}",

    "socketIP": "0.0.0.0",
    "socketPort": "{{ env_socket_port }}",
    "socketRoom": "{{ env_socket_room }}",
    "socketKey":"{{ env_socket_key }}",
    "socketTimeOut": "{{ env_socket_timeout }}",
    "socketReadBuffer": "{{ env_socket_readbuffer }}",
    "socketWriteBuffer": "{{ env_socket_writebuffer }}",
    "socketAutoClose": "{{ env_socket_autoclose }}"
}