{
    "version":"dev",
    "port":":80",
    "dbHost": "localhost",
    "dbPort": "3306",
    "dbAccount": "root",
    "dbPassword": "password",
    "dbName": "db",
    "dbMinConnection":10,
    "dbMaxConnection":20,
    "charset": "utf8mb4",
    "redisHost":"localhost",
    "redisPort":"6379",
    "redisPassword":"",
    "selectDB":"",
    "poolSize":"10"

}